<!DOCTYPE html>
<html>
  <head>
	<title>markw13a.co.uk: tier 2 job scanner</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/javascripts/queryManager.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115765936-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-115765936-1');
	</script>
  </head>
	 <body class="grid-wrapper">
		<header>
			<div id = "black-background"></div>
			<a href="/">
				<img src="/images/logo.png" alt="home">
			</a>
		</header>
		<div id="blurb">
			<h2>
				About
				</br> </br>
			</h2>
			<p>
				This page is intended to help non-EU citizens to find work in the UK. The table below contains a list of current vacancies being advertised by companies on the UK's "Register of license sponsors".
				You can arrange the table by job title, company, location, website or closing date by clicking on the corresponding table heading.
				</br> </br>
				If you have (somehow) found your way here from the wider internet, please feel free to make use of this site.
			</p>
		</div>
		<div id="main-content">
			<form action="/" method="get">
				<input type="text" name="query">
				<input type="submit" value="Search">
			</form>
			<table>
				<tr>
					<th>
						<a onclick="queryManager('sortBy', 'jobTitle')"> Job Title </a>
					</th>
					<th>
						<a onclick="queryManager('sortBy', 'companyName')"> Company </a>
					</th>
					<th>
						<a onclick="queryManager('sortBy', 'jobLocation')"> Location </a>
					</th>
					<th>
						<a onclick="queryManager('sortBy', 'salary')"> Salary </a>
					</th>
					<th>
						<a onclick="queryManager('sortBy', 'website')"> Extracted from </a>
					</th>
					<th>
						<a onclick="queryManager('sortBy', 'deadline')">Closing date</a>
					</th>
				</tr>
				<% for(let i =0; i<data.length; i++){%>
					<tr>
						<td><%=data[i].jobTitle%></td>
						<td><%=data[i].companyName%></td>					
						<td><%=data[i].jobLocation%></td>
						<td><%=data[i].salary%></td>	
						<td>
							<a href=<%=data[i].website%> target="_blank">
								<%=data[i].website%>
							</a>
						</td>
						<td><%=(data[i].deadline.getDate()) +"/"+ (data[i].deadline.getMonth()+1) + "/" + data[i].deadline.getFullYear() %></td>
					</tr>
				<%}%>
			</table>
		</div>
		<div id="lhs" class="side-margin">
		</div>
		<div id="rhs" class="side-margin">
		</div>
		<footer>
		</footer>
	</body>
</html>
