<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
	 <body class="grid-wrapper">
		<header>
			This is the header
		</header>
		<div id="blurb">
			<p>
				This page is intended to help non-EU citizens to find work in the UK. The table below contains a list of current vacancies being advertised by companies on the UK's "Register of license sponsors".
				You can arrange the table by job title, company, location, website or closing date by clicking on the corresponding table heading.
				</br> </br>
				If you have (somehow) found your way here from the wider internet, please feel free to make use of this site.
			</p>
		</div>
		<table>
			<tr>
				<th>
					<a href="/jobTitle"> Job Title </a>
				</th>
				<th>
					<a href="/companyName"> Company </a>
				</th>
				<th>
					<a href="/jobLocation"> Location </a>
				</th>
				<th>
					<a href="/website"> Extracted from </a>
				</th>
				<th>
					<a href="/deadline">Closing date</a>
				</th>
			</tr>
			<% for(let i =0; i<data.length; i++){%>
				<tr>
					<td><%=data[i].jobTitle%></td>
					<td><%=data[i].companyName%></td>
					<td><%=data[i].jobLocation%></td>
					<td>
						<a href=<%=data[i].website%> target="_blank">
							<%=data[i].website%>
						</a>
					</td>
					<td><%=(data[i].deadline.getDate()) +"/"+ (data[i].deadline.getMonth()+1) + "/" + data[i].deadline.getFullYear() %></td>
				</tr>
			<%}%>
		</table>
		<div id="lhs" class="side-margin">
		</div>
		<div id="rhs" class="side-margin">
		</div>
		<footer>
			This is the footer
		</footer>
	</body>
</html>
